/* -----------------------------------------
	06. Footer
----------------------------------------- */
.footer {
	background-color: $footer-bg-color;
}

.footer-fullwidth {
	@include media-breakpoint-up(xl) {
		.container {
			width: 1600px;
		}
	}
}

.footer-widgets {
	padding: 70px 0 70px - $widget-margin-lg;

	@include media-breakpoint-down(md) {
		padding: 70px 0 70px - $widget-margin-md;
	}

	@include media-breakpoint-down(sm) {
		padding: 70px 0 70px - $widget-margin-sm;
	}
}

.footer-widgets-padded {
	@include media-breakpoint-up(lg) {
		padding-top: 135px;
	}
}

.footer-info {
	font-size: 14px;
}

.footer-info-inner {
	padding: 15px 0;
	border-top: 1px solid $border-color;

	&.on-background {
		color: $white;
		border-top-color: rgba($white, .4);
	}
}

.footer-copy {
	margin-bottom: 0;
}
