/* -----------------------------------------
	05. Modules
----------------------------------------- */

/* General Layout
=================================== */
.container {
	@include media-breakpoint-down(xs) {
		width: 100%;
	}
}

.main {
	padding: $section-padding-lg 0;

	@include media-breakpoint-down(md) {
		padding: $section-padding-md 0;
	}

	@include media-breakpoint-down(sm) {
		padding: $section-padding-sm 0;
	}
}

.main-elevated {
	@include media-breakpoint-up(md) {
		padding-top: $main-elevated-padding;
	}
}

.content-elevated {
	@include media-breakpoint-up(md) {
		margin-top: $main-content-elevation;
	}
}

.sidebar {
	@include media-breakpoint-down(md) {
		margin-top: 60px;
	}
}

.section-margin {
	margin-bottom: 40px;

	@include media-breakpoint-down(md) {
		margin-bottom: 0;
	}
}

.content-sticky-parent {
	height: 100%;
}

.content-sticky {
	@include media-breakpoint-down(md) {
		position: static !important;

		+ .stuck {
			display: none !important;
		}
	}
}

/* Sections
=================================== */
.widget-section {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: $section-padding-lg;

	@include media-breakpoint-down(md) {
		margin-bottom: $section-padding-md;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: $section-padding-sm;
	}

	&:last-child {
		margin-bottom: 0
	}
}

.section-heading {
	@include underbar($color: $border-color, $margin: 20px);
	margin-bottom: 45px;
	line-height: normal;
}

.section-title {
	font-size: 30px;
	margin: 0;
	color: $accent-color;

	@include media-breakpoint-down(sm) {
		font-size: 24px;
	}
}

.section-subtitle {
	margin: 0;
	color: $text-color-light;
	font-size: 18px;
	letter-spacing: $letter-spacing-base;

	a {
		color: $text-color-light;
	}

	@include media-breakpoint-down(sm) {
		font-size: 15px;
	}
}

.section-related {
	margin-top: 70px;
}

/* Entry Styles
=================================== */
.entry {
	margin: 0 0 50px;

	.single & {
		margin-bottom: 0;
	}
}

.entry-header {
	margin-bottom: 30px;
}

.entry-title {
	margin-bottom: 0;

	a {
		color: $text-color;

		&:hover {
			color: $accent-color;
		}
	}

	[class^="col-sm-6"] &,
	[class^="col-lg-4"] & {
		font-size: 26px;
	}
}

.entry-meta {
	@include text-style;
	margin-bottom: 15px;
	display: flex;
	align-items: center;

	span {
		&::after {
			content: "\2022";
			margin: 0 4px;
			font-size: 1.2em;
			color: $accent-color;
		}

		&:last-of-type {
			&::after {
				display: none;
			}
		}
	}

	.star-rating {
		margin-left: auto;
	}

	@include media-breakpoint-down(sm) {
		display: block;
	}
}

.entry-thumb {
	margin-bottom: 35px;
	position: relative;
	z-index: 15;

	img {
		border-radius: 4px;
	}

	&.alignnone,
	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-top: 0;
	}
}

.entry-content {
	@include clearfix;

	h1, h2, h3, h4, h5, h6 {
		margin: 20px 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.anchor-title {
		@include overbar($color: $border-color, $margin: 15px);
		margin-top: 45px;
	}

	.fluid-width-video-wrapper,
	audio,
	video,
	blockquote {
		margin: 40px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		font-size: 20px;
		position: relative;
		padding-left: 50px;
		border: 0;

		&::before {
			content: "\00201C";
			font-size: 5em;
			line-height: 0;
			position: absolute;
			left: 0;
			top: 40px;
			opacity: .35;
		}
	}

	.alignleft,
	.alignright {
		@include media-breakpoint-down(sm) {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.boxed-title {
		font-size: 16px;
		border-radius: $border-radius-base;
		border-left: 4px solid $accent-color;
		padding: 11px 15px;
		margin: 40px 0 30px;
		background-image: linear-gradient(160deg, rgba($grey, 1), rgba($white, 0));
	}
}

.entry-content-collapsible {
	max-height: 175px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;

	&.expanded {
		max-height: 9999px;

		&::before {
			display: none;
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 80px;
		background-image: linear-gradient(to top, $white, rgba($white, 0));
		pointer-events: none;
	}

	@include media-breakpoint-only(lg) {
		min-height: 220px;
	}
}

.entry-content-intro {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 40px;
}

.entry-content-column-split {
	@include media-breakpoint-up(md) {
		columns: 2;
	}
}

.entry-more-btn {
	margin-top: 25px;
}

.entry-author-box {
	display: flex;
	padding: 40px 30px;
	margin-bottom: 65px;
	background-image: linear-gradient(160deg, rgba($grey, 1), rgba($white, 0));
	border-left: 4px solid darken($grey, 3%);
	border-radius: $border-radius-base;
}

.entry-author-thumbnail {
	width: 68px;
	flex: none;
	margin-right: 25px;

	img {
		border-radius: $border-radius-base;
	}
}

.entry-author-title {
	margin-bottom: 20px;
	font-size: 15px;
}

.entry-author-subtitle {
	margin-top: -18px;
	margin-bottom: 20px;
}

.widget-tour-info {
	margin-bottom: $widget-margin-lg;
}

/* Entry title navigation
=================================== */
.entry-title-navigation {
	background-color: $body-bg;
	box-shadow: $box-shadow;
	padding: 15px 0;
	border-bottom-left-radius: $border-radius-base;
	border-bottom-right-radius: $border-radius-base;
	position: relative;
	opacity: 0;
	transition: opacity .25s ease;
	pointer-events: none;

	&.visible {
		opacity: 1;
		pointer-events: auto;
	}

	.entry-thumb + & {
		margin-top: -40px;
		z-index: 20;
	}
}

.entry-title-navigation-link {
	color: $text-color-dark;
	display: flex;
	align-items: center;
	border-bottom: 1px dashed $border-color;
	font-size: 14px;
	letter-spacing: $letter-spacing-base;
	line-height: normal;
	padding: 10px 25px;

	&:last-child {
		border: 0;
	}

	&:hover,
	&.active {
		color: $accent-color;
	}

	.fas {
		margin-right: 10px;
	}
}

/* Items & Item Listings
=================================== */
.row-items {
	margin-bottom: -40px;

	&.no-gutters {
		margin-bottom: 0;
	}
}

.item {
	margin-bottom: 60px;

	.no-gutters & {
		margin-bottom: 0;
	}
}

.item-vertical {
	padding-bottom: 30px;
	margin-bottom: 30px;
	transition: box-shadow .18s ease;
	border-radius: $border-radius-base;

	&:hover {
		box-shadow: $box-shadow;

		.item-thumb {
			img {
				border-radius: 0;
			}
		}
	}
}

.item-media {
	display: flex;
}

.item-list-xs {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed $border-color;

	&:last-child {
		margin: 0;
		padding: 0;
		border-bottom: 0;
	}
}

.item-thumb {
	position: relative;
	margin: 0 0 20px;

	img {
		border-radius: $border-radius-base;
		transition: border-radius .18s ease;
	}

	.item-vertical & {
		margin: 0;
	}

	.item-media & {
		margin-right: 30px;
		flex: none;
		width: 260px;

		@include media-breakpoint-down(lg) {
			width: 2px;
		}

		@include media-breakpoint-down(md) {
			width: 180px;
		}

		@include media-breakpoint-down(sm) {
			width: 100px;
			margin-right: 15px;
		}
	}
}

.item-content {
	.item-vertical & {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.item-meta {
	margin-bottom: 5px;

	.item-vertical & {
		display: inline-flex;
		align-items: center;
		height: 30px;
		background-color: $body-bg;
		border-radius: 30px;
		padding: 0 25px;
		margin: 0;
		transform: translateY(-50%);
	}

	.item-media & {
		margin-bottom: 10px;
	}
}

.item-meta-field {
	@include text-style($text-color-light);
	display: inline-flex;
	align-items: center;

	&::after {
		@include content-bullet;
		color: $accent-color;
		font-size: 1.5em;
		margin: 0 5px;
	}

	&:last-child {
		&::after {
			display: none;
		}
	}

	.item-entry & {
		text-transform: none;
	}

	.item-list-xs & {
		font-size: 11px;
	}
}

.item-title {
	line-height: normal;
	letter-spacing: $letter-spacing-base;
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 500;
	max-width: 100%;

	a {
		color: $text-color-dark;

		&:hover {
			color: $accent-color;
		}
	}

	.item-vertical & {
		margin: -10px 0 0;
		text-align: center;
	}

	.item-media & {
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
	}

	.item-list-xs & {
		font-size: 14px;
	}
}

.item-badge {
	@include text-style($text-on-accent);
	background-color: $accent-color;
	position: absolute;
	top: 13px;
	right: -5px;
	padding: 8px 19px;
	border-radius: 30px;
	border-top-right-radius: $border-radius-base;
	border-bottom-right-radius: 0;

	&::before {
		content: "";
		border: 5px solid transparent;
		border-left-color: darken($accent-color, 10%);
		position: absolute;
		bottom: -4px;
		right: -5px;
		z-index: -1;
	}
}

/* Pagination
=================================== */
.navigation {
	margin: 40px 0 0;
	text-align: center;
	line-height: normal;

	a,
	.page-numbers {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 4px 10px;
		font-size: 12px !important;
		margin-bottom: 3px;
		border: 2px solid $border-color;
		color: $text-color-light;
		background: none;
		font-weight: 500;
		height: 35px;
	}

	.page-numbers {
		border-radius: 50%;
		width: 35px;
	}

	.next,
	.prev,
	.nav-next a,
	.nav-previous a {
		width: auto;
		border-radius: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	a:hover, // sass-lint:disable-line force-pseudo-nesting
	.current {
		border-color: $accent-color;
	}

	.nav-links {
		@include clearfix;
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}
}

.comment-navigation {
	margin: 30px 0;
}

.page-links {
	margin: 35px 0;

	.page-number {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 4px 10px;
		font-size: 12px !important;
		margin-bottom: 3px;
		border: 2px solid $border-color;
		color: $text-color-light;
		background: none;
		font-weight: 500;
		height: 35px;

		&:hover {
			border-color: $accent-color;
		}
	}

	> .page-number {
		border-color: $button-bg-color;
		color: $button-text-color;
		background-color: $button-bg-color;
	}

	> a,
	> span {
		&:first-child {
			margin-left: 10px;
		}
	}
}

/* Social Icons
=================================== */
.list-social-icons {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 3px 0;
	}
}

.social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	font-size: 14px;
	text-align: center;
	color: $text-color-dark;
	border: 2px solid $border-color;
	border-radius: 50%;

	&:hover {
		border-color: $accent-color;
		color: $accent-color;
	}

	.header &,
	.footer-info & {
		color: currentColor;
		font-size: inherit;
		width: auto;
		height: auto;
		border: none !important;
		margin: 3px 5px;
	}
}

.entry-social-share {
	text-align: center;

	@include media-breakpoint-up(lg) {
		li {
			display: block;
		}
	}

	@include media-breakpoint-down(lg) {
		text-align: left;
		margin-bottom: 30px;
	}
}

.entry-social-share-title {
	@include text-style;
	margin-bottom: 10px;
}

/* Hero meta badge
=================================== */
.hero-badge-meta {
	display: inline-flex;
	align-items: center;
	height: 30px;
	background-color: rgba($black, .3);
	border-radius: 30px;
	border: 1px solid rgba($white, .1);
	padding: 0 30px;
}

.hero-badge-meta-item {
	@include text-style(currentColor);
	display: inline-flex;
	align-items: center;

	&::after {
		@include content-bullet;
		color: $accent-color;
		font-size: 1.5em;
		margin: 0 5px;
	}

	&:last-child {
		&::after {
			display: none;
		}
	}
}

.text-style {
	@include text-style($text-color-light);
}

/* Listing controls toolbar
=================================== */
.listing-controls {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.listing-content-controls {
	margin-left: auto;

	select {
		min-width: 200px;
	}
}

.listing-view-control {
	@include button-reset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border: 2px solid $border-color;
	border-radius: 50%;
	color: $text-color-dark;

	&:hover {
		border-color: $accent-color;
	}

	&.active {
		border-color: $accent-color;
		color: $accent-color;
	}
}

/* Styled boxes
=================================== */
.box-styled {
	border-radius: $border-radius-base;
	border-left: 4px solid darken($grey, 3%);
	background-image: linear-gradient(160deg, rgba($grey, 1), rgba($white, 0));
	padding: 30px 25px;
	margin: 30px 0 30px;

	p {
		margin: 0 0 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: none;
		margin-bottom: 30px;
		padding-left: 20px;
	}

	li {
		position: relative;
		margin-bottom: 2px;

		&::before {
			@include content-bullet;
			position: absolute;
			display: inline-block;
			color: $accent-color;
			width: 15px;
			left: -20px;
			top: -1px;
			font-size: 24px;
			font-family: serif;
			font-weight: 900;
			line-height: 1;
		}
	}
}

/* Star ratings
=================================== */
.star-rating {
	letter-spacing: 1px;
	position: relative;
	line-height: 1;
	font-size: 14px;
	color: $grey-dark;
	display: inline-block;

	&::before {
		@include font-awesome("\f005\f005\f005\f005\f005");
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(0); // overcoming z-index
	}
}

.star-rating-inner {
	overflow: hidden;
	color: $accent-color;
	display: block;

	&::after {
		@include font-awesome("\f005\f005\f005\f005\f005");
		position: relative;
		overflow: hidden;
		transform: translateX(0); // overcoming z-index
	}
}

.star-rating-5 {
	.star-rating-inner {
		width: 100%;
	}
}

.star-rating-4 {
	.star-rating-inner {
		width: 80%;
	}
}

.star-rating-3 {
	.star-rating-inner {
		width: 60%;
	}
}

.star-rating-2 {
	.star-rating-inner {
		width: 40%;
	}
}

.star-rating-1 {
	.star-rating-inner {
		width: 20%;
	}
}

/* Ratings bar
=================================== */
.ratings-bar {
	width: 100%;
	height: 5px;
	background-color: $grey-dark;
	position: relative;
}

.ratings-bar-inner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: $accent-color;
}

/* Star rating score
=================================== */
.star-count {
	width: 0;
}

.ratings-board-score {
	flex: none;
	width: 86px;
	height: 110px;
	background-color: $accent-color;
	color: $white;
	line-height: normal;
	border-radius: $border-radius-base;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	padding: 5px 10px;
	margin-left: 15px;

	.star-rating {
		color: rgba($white, .5);
		font-size: 11px;
	}

	.star-rating-inner {
		color: $text-on-accent;
	}
}

.ratings-score {
	font-size: 36px;
	letter-spacing: $letter-spacing-base;
	font-weight: 500;
}

.ratings-score-label {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: $letter-spacing-base;
}

/* Ratings board
=================================== */
.ratings-board {
	display: flex;
	line-height: normal;
	margin: 20px 0 55px;
}

.ratings-board-rows {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: auto;
	margin: -5px 0;
}

.ratings-board-row {
	display: flex;
	align-items: center;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}

	.star-rating {
		margin-right: 5px;
	}

	.ratings-bar {
		margin-left: 45px;
	}
}

/* Star Rating Input
=================================== */
.star-rating-input {
	display: inline-flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;

	input {
		display: none;

		&:checked ~ label {
			color: $accent-color;
		}
	}

	label {
		cursor: pointer;
		color: $grey-dark;
		margin-right: 4px;

		span {
			display: none;
		}

		&::before {
			@include font-awesome(\f005);
			display: inline-block;
			font-size: 20px;
		}
	}
}

/* Boxed forms
=================================== */
.form-boxed {
	background-color: $body-bg;
	border-radius: $border-radius-base;
	box-shadow: $box-shadow;
	padding: 35px 30px;

	@include media-breakpoint-down(lg) {
		padding: 25px 15px;
	}
}

/* Range Sliders
=================================== */
.range-slider {
	display: block;
	margin-bottom: 10px;

	&.noUi-target {
		box-shadow: none;
		border: 0;
		background-color: $grey-dark;
	}

	&.noUi-horizontal {
		height: 5px;

		.noUi-handle {
			box-shadow: none;
			border: 0;
			border-radius: 50%;

			&::after,
			&::before {
				display: none;
			}
		}

		.noUi-handle-lower {
			background-color: $text-color-dark;
			width: 13px;
			height: 13px;
			top: -4px;
			left: auto;
			right: -13px !important;
		}

		.noUi-handle-upper {
			background-color: $accent-color;
			width: 17px;
			height: 17px;
			right: 0 !important;
		}
	}

	.noUi-connect {
		background-color: $accent-color;
	}
}

.range-slider-values {
	@include text-style;
	display: flex;
	align-items: center;
}

.range-slider-value {
	&:last-child {
		margin-left: auto;
	}
}

/* Filter Forms
=================================== */
.filter-form-vertical {
	.filter-form-group {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.filter-form-inline {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 142px;
	padding: 25px 20px;
	position: relative;
	z-index: 25;

	.filter-form-group {
		flex: 1;
		padding: 10px;

		@include media-breakpoint-down(md) {
			flex: 0 0 50%;
		}

		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
		}
	}

	input,
	select,
	button {
		width: 100%;
	}

	@include media-breakpoint-down(lg) {
		height: auto;
	}
}

.main {
	.widget_ci-filter-form {
		&:first-child {
			margin-top: -$section-padding-lg - 71px;

			@include media-breakpoint-down(sm) {
				margin-top: -$section-padding-lg;
			}
		}
	}
}

.footer-widget-sections {
	.widget_ci-filter-form {
		&:last-child {
			margin-bottom: -71px;

			@include media-breakpoint-down(md) {
				margin-bottom: $section-padding-md;
			}
		}
	}
}
