// Grid
// Variables used by Bootstrap Grid (v4)
// =========================================
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1300px,
) !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 940px,
	xl: 1270px,
) !default;

$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: (
	xs: $grid-gutter-width-base,
	sm: $grid-gutter-width-base,
	md: $grid-gutter-width-base,
	lg: $grid-gutter-width-base,
	xl: $grid-gutter-width-base
) !default;

// WordPress Galleries gutter widths
$grid-gutter-widths-galleries: (
	xs: $grid-gutter-width-base / 3,
	sm: $grid-gutter-width-base / 3,
	md: $grid-gutter-width-base / 3,
	lg: $grid-gutter-width-base / 3,
	xl: $grid-gutter-width-base / 3
) !default;

// Base Generic
// =========================================
$font-size-base: 15px !default;
$font-size-sm: 12px !default;
$font-size-lg: 18px !default;
$line-height-base: 1.466666667 !default;
$border-radius-base: 5px !default;
$letter-spacing-base: -.025em !default;

// Hero
// =========================================
$hero-home-height-lg: 100vh !default;
$hero-home-height-md: 650px !default;
$hero-home-height-sm: 500px !default;

$hero-height-lg: 470px !default;
$hero-height-md: 340px !default;
$hero-height-sm: 280px !default;

$hero-padding: 30px !default;

// Sections & Spacing
// =========================================
$section-padding-lg: 75px !default;
$section-padding-md: 60px !default;
$section-padding-sm: 50px !default;

$widget-margin-lg: 60px !default;
$widget-margin-md: 50px !default;
$widget-margin-sm: 40px !default;

$main-elevated-padding: 40px !default;
$main-content-elevation: -$main-elevated-padding - $hero-padding - 70px;
// Page hero titles ~ 70px in height

// Colors
// =========================================
$white: #fff !default;
$black: #000 !default;
$grey: #f3f3f3 !default;
$grey-dark: #ebebeb !default;

$body-bg: $white !default;
$accent-color: #e00d4e !default;
$text-color: #464646 !default;
$text-color-dark: #2d2d2d !default;
$text-color-light: #8a8a8a !default;
$text-on-accent: $white !default;
$border-color: #d7d7d7 !default;
$footer-bg-color: #f8f8f8 !default;

$input-bg-color: #f3f3f3 !default;
$input-active-bg-color: $white !default;
$input-border-color: #ebebeb !default;
$input-active-border-color: $accent-color !default;

$button-bg-color: $accent-color !default;
$button-text-color: $text-on-accent !default;
$button-border-color: transparent !default;

$header-border-color: rgba($white, .4) !default;
$hero-text-shadow: 0 7px 10px rgba(0,0,0,.16);

$box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.04);

// Fonts
// =========================================
$primary-font: 'Rubik', sans-serif !default;
$secondary-font: serif !default;
$font-awesome: "Font Awesome 5 Free" !default;
$font-awesome-brands: "Font Awesome 5 Brands" !default;
